.alphabet-letter {
  .mixin-font-family-normal();
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: @six-text-color;
  text-decoration: none;
  text-transform: uppercase;
  background-color: @primary-background-color;

  &:hover {
    background-color: @fifth-background-color;
    color: @primary-text-color;
  }

  &:active {
    background-color: @fifth-background-color;
    color: @primary-text-color;
  }

  @media (min-width: @tablet-width) {
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    color: fade(@second-background-color, 30%);
    background-color: @seven-background-color;

    &:hover {
      color: @second-background-color;
      background-color: @seven-background-color;
    }

    &:active {
      color: fade(@second-background-color, 60%);
      background-color: @seven-background-color;
    }
  }
}


.alphabet-letter--selected {
  color: @primary-text-color;
  background-color: @fifth-background-color;

  @media (min-width: @tablet-width) {
    color: @second-background-color;
    background-color: @seven-background-color;
  }
}
