.alphabet-item {
  display: inline-block;
  outline: 1px solid @ten-background-color;
}


.alphabet-item__list {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.alphabet-item__letter-list {
  .mixin-list-normalize();
}

.alphabet-item__letter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 40px;
  box-sizing: border-box;
  outline: 1px solid @ten-background-color;

  @media (min-width: @desktop-width) {
    width: 48px;
    height: 44px;
    box-sizing: border-box;
  }
}
