.companion-fieldset {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 12px;

  &:last-of-type {
    margin-bottom: 25px;
  }

  &:first-of-type::before {
    content: "";
    display: block;
    width: 220px;
    height: 1px;
    margin-bottom: 12px;
    background-color: #000000;
  }

  &:not(:last-of-type)::after {
    content: "";
    display: block;
    width: 220px;
    height: 1px;
    background-color: #000000;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    margin-bottom: 26px;

    &:last-of-type {
      margin-bottom: 22px;
    }

    &:first-of-type::before {
      display: none;
    }

    &:not(:last-of-type)::after {
      display: none;
    }
  }
}

.companion-fieldset__inputs-wrapper {
  display: flex;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    order: 3;
  }
}

.companion-fieldset__list {
  .mixin-list-normalize();
}

.companion-fieldset__drop-down-button {
  @media (min-width: @tablet-width) {
    min-width: 104px;
    margin-right: 18px;
    align-self: flex-start;
    text-align: left;
  }
}

.companion-fieldset__drop-down-button span {
  display: none;

  @media (min-width: @tablet-width) {
    display: inline-block;
  }
}

.companion-fieldset--filter-close .companion-fieldset__drop-down-button {
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.companion-fieldset--filter-open .companion-fieldset__drop-down-button {
  margin-bottom: 16px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    align-self: center;
  }
}

.companion-fieldset__level-range {
  display: flex;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 1px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: @ten-background-color;
    z-index: 2;
  }
}

.companion-fieldset__range-input {
  box-sizing: border-box;
  width: 110px;
  height: 46px;
  border: 1px solid @ten-background-color;

  &::after {
    content: "";
    display: block;
    width: 150px;
    height: 1px;
    position: absolute;
    top: 8px;
    left: 103px;
    transform: translate(-50%, -50%);
    background-color: @ten-background-color;
  }

  @media (min-width: @tablet-width) {
    width: 73px;
  }
}

.companion-fieldset__input-style {
  position: absolute;

  &::before {
    content: "";
    display: block;
    width: 16px;
    height: 1px;
    position: absolute;
    top: 37px;
    left: 102px;
    transform: rotate(90deg);
    background-color: @ten-background-color;
  }

  &::after {
    content: "";
    display: block;
    width: 16px;
    height: 1px;
    position: absolute;
    top: 8px;
    left: 102px;
    transform: rotate(90deg);
    background-color: @ten-background-color;
  }

  @media (min-width: @tablet-width) {
    width: 73px;

    &::before,
    &::after {
      left: 65px;
    }
  }
}

.companion-fieldset__range-input:hover ~ .companion-fieldset__input-style {
  &::before,
  &::after {
    background-color: darken(@ten-background-color, 30%);
  }
}

.companion-fieldset__range-input:focus ~ .companion-fieldset__input-style {
  &::before,
  &::after {
    background-color: darken(@ten-background-color, 100%);
  }
}

.companion-fieldset__range-input:nth-of-type(1) {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: none;

  &:hover {
    border-color: darken(@ten-background-color, 30%);
  }

  &:focus {
    border-color: darken(@ten-background-color, 100%);
  }
}

.companion-fieldset__range-input:nth-of-type(2) {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: none;

  &:hover {
    border-color: darken(@ten-background-color, 30%);
  }

  &:focus {
    border-color: darken(@ten-background-color, 100%);
  }
}

.companion-fieldset__range-bar-wrapper {
  @media (min-width: @tablet-width) {
    margin-right: 61px;
    order: 2;
  }
}
