.companion-card-flags__title {
  margin: 0;
  margin-bottom: 19px;

  &::before {
    content: "";
    width: 15px;
    height: 1px;
    position: absolute;
    top: 9px;
    left: -25px;
    background-color: @third-background-color;
  }

  &::after {
    content: "";
    width: 149px;
    height: 1px;
    position: absolute;
    top: 9px;
    right: -158px;
    background-color: @third-background-color;
  }

  @media (min-width: @tablet-width) {
    margin-left: 49px;

    &::before {
      width: 65px;
      top: 9px;
      left: -86px;
    }

    &::after {
      width: 496px;
      top: 60.5%;
      right: -49%;
      transform: translate(-50%, -50%);
    }
  }
}

.companion-item__flags-wrapper .companion-card-flags__title {
  display: block;
}

.companion-card-flags__list {
  .mixin-list-normalize();

  @media (min-width: @tablet-width) {
    display: flex;
  }
}
