.companion-fieldset--filter-close .fieldset-list {
  display: none;
}

.companion-fieldset--filter-open .fieldset-list {
  display: block;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 163px);
  }
}

.fieldset-list__label {
  .mixin-font-family-normal();
  display: flex;
  position: relative;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: @fifteen-text-color;
  cursor: pointer;

  &::before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    margin-right: 9px;
    margin-bottom: 12px;
    background-color: @primary-background-color;
    border-radius: 4px;
  }

  &::after {
    content: "";
    width: 18px;
    height: 18px;
    position: absolute;
    background-image: url("/img/icons/input-selected-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover {
    color: fade(@thirteen-text-color, 30%);
  }

  &:active {
    color: fade(@thirteen-text-color, 60%);
  }

  @media (min-width: @tablet-width) {
    align-items: center;
    font-size: 20px;
    line-height: 20px;

    &::before {
      width: 24px;
      height: 24px;
      margin-bottom: 0;
    }

    &::after {
      width: 24px;
      height: 24px;
      margin-bottom: 0;
      background-size: 11px 11px;
    }
  }
}

.fieldset-list__input + .fieldset-list__label::after {
  display: none;
}

.fieldset-list__input:checked + .fieldset-list__label::after {
  display: block;
}

.fieldset-list__input:hover + .fieldset-list__label::before {
  background-color: @twenty-eighth-background-color;
}

.fieldset-list__input:active + .fieldset-list__label::before {
  background-color: @twenty-nine-background-color;
}

.fieldset-list__input:active + .fieldset-list__label::after {
  filter: brightness(0) saturate(100%) invert(91%) sepia(9%) saturate(129%) hue-rotate(188deg) brightness(103%) contrast(88%);
}
