.filters-section {
  background-color: @seven-background-color;
}

.filters-section__menu-wrapper {
  width: 320px;
  margin: 0 auto;
  position: relative;

  @media (min-width: @tablet-width) {
    width: 768px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    margin: 0 auto;
  }
}

.filters-section__content-wrapper {
  .mixin-phone-container();
  padding-top: 23px;
  padding-bottom: 17px;
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    .mixin-table-container();
    align-items: center;
    padding-top: 63px;
    padding-bottom: 56px;
  }

  @media (min-width: @desktop-width) {
    .mixin-desktop-container();
  }
}


.filters-section__toggle {
  display: flex;
  align-items: center;
  position: relative;
  border: none;
  background-color: @seven-background-color;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: flex;
  }

  &::before {
    content: "";
    display: block;
    width: 15px;
    height: 10px;
    background-image: url("/img/icons/country-filter-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.filters-section__content-wrapper--menu-close .filters-section__toggle {
  &::after {
    content: "";
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: @second-background-color;
    box-shadow:
      8px 0 0 0 @second-background-color,
      16px 0 0 0 @second-background-color;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }
}

.filters-section__content-wrapper--menu-open .filters-section__toggle {
  &::after {
    content: "";
    width: 16px;
    height: 16px;
    background-image: url("/img/icons/close-icon.svg");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }
}

.filters-section__region-list {
  .mixin-list-normalize();
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: 34px;
  }
}

.filters-section__second-toggle {
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0;
    border: none;
    background-color: @seven-background-color;
  }
}

.filters-section__content-wrapper--menu-close .filters-section__second-toggle {
  &::after {
    content: "";
    margin-right: 34px;
    margin-left: 20px;
    width: 30px;
    height: 6px;
    background-image: url("/img/icons/point-button-icon.svg");
    background-repeat: no-repeat;
  }
}

.filters-section__content-wrapper--menu-open .filters-section__second-toggle {
  &::after {
    content: "";
    margin-right: 29px;
    margin-left: 63px;
    width: 16px;
    height: 16px;
    background-image: url("/img/icons/close-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.filters-section__wrapper {
  width: 320px;
  margin-top: -16px;
  padding-top: 16px;
  position: absolute;
  left: 0;
  background-color: #e2e5f2;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    position: relative;
  }
}

.filters-section__content-wrapper--menu-close + .filters-section__wrapper {
  display: none;
}

.filters-section__content-wrapper--menu-open + .filters-section__wrapper {
  display: block;
}

.filters-section__wrapper--nojs {
  position: relative;
}

.filters-section__sub-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 25px;
  padding-top: 15px;
  padding-bottom: 25px;

  @media (min-width: @tablet-width) {
    padding: 0 40px;
    padding-top: 12px;
    padding-bottom: 79px;
  }
}

.filters-section__country-filter {
  width: 220px;
  margin: 0 auto;
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    width: 615px;
    display: flex;
  }

  @media (min-width: @desktop-width) {
    width: 1320px;
  }
}

.filters-section__collapse-button {
  padding-top: 12px;
  padding-bottom: 12px;
  border: none;
  border-radius: 20px;

  @media (min-width: @tablet-width) {
    margin-left: 36.5px;
    margin-right: 36.5px;
    padding-top: 38px;
    padding-bottom: 38px;
  }
}

.filters-section__wrapper--nojs .filters-section__collapse-button {
  display: none;
}

.filters-section__sub-alphabet-list {
  .mixin-font-family-normal();
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
