.filters-toggle {
  .mixin-font-family-normal();
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
  }
}

.filters-toggle__button-text-main {
  margin-left: 11px;
  margin-right: 17px;
}

.filters-toggle__button-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.filters-section__content-wrapper--menu-close.filters-toggle__button-text:nth-of-type(1) {
  display: inline-block;
}

.filters-section__content-wrapper--menu-open .filters-toggle__button-text:nth-of-type(1) {
  display: none;
}

.filters-section__content-wrapper--menu-close .filters-toggle__button-text:nth-of-type(2) {
  display: none;
}

.filters-section__content-wrapper--menu-open .filters-toggle__button-text:nth-of-type(2) {
  display: inline-block;
}
