.across-pages-main {
  margin-top: 73px;
  background-color: @third-background-color;

  @media (min-width: @tablet-width) {
    margin-top: 128px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 90px;
  }
}

.across-pages-main--nojs {
  margin-top: 0;
}

.across-pages-main__section-border-bottom {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  @media (min-width: @desktop-width) {
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }
}

.across-pages-main__section-border-top {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  @media (min-width: @desktop-width) {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
}

// catalog
.across-pages-main__catalog-header-wrapper {
  .mixin-phone-container();
  padding-top: 22px;
  padding-bottom: 19px;

  @media (min-width: @tablet-width) {
    .mixin-table-container();
    padding-top: 85px;
    padding-bottom: 76px;
  }

  @media (min-width: @desktop-width) {
    .mixin-desktop-container();
    padding-top: 106px;
    padding-bottom: 70px;
  }
}

.across-pages-main__catalog-inner-header-wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 34px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 66px;
  }
}

.across-pages-main__header-return-button {
  display: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    align-self: flex-end;
    margin-bottom: 3px;

    &::after {
      content: "";
      width: 32px;
      height: 16px;
      margin-left: 28px;
      background-image: url("/img/icons/arrow-back-icon.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.across-pages-main__desktop-wrapper {
  padding-bottom: 29px;

  @media (min-width: @desktop-width) {
    width: 1321px;
    margin: 0 auto;
    padding: 0 60px;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
}

.across-pages-main__companion-filters {
  margin-bottom: 28px;

  @media (min-width: @desktop-width) {
    order: 2;
  }
}
//form
